<br>
<div class="card ">
  <div class="card-body">
    <h3 class="card-title text-center"><%= @campsite.name %></h3>
<hr>
    <div class="card">
      <div class="card-header text-center">
<h5>Description</h5>
      </div>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p><%=@campsite.description %></p>
      </blockquote>
<hr>
      <ul class="list-group list-group-horizontal " style="width: auto" >

        <!-- Block for Country -->
          <div class="card" style="width: 30rem;">
            <div class="card-header">
              Country
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%=@campsite.region.country.name %></li>
              <li class="list-group-item "><%= link_to "See all countries", allCountries_path, class: "btn btn-outline-primary btn-sm"  %></li>
            </ul>
          </div>

        <!-- Block for region -->
        <div class="card" style="width: 30rem;">
          <div class="card-header">
            Region
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%=@campsite.region.name %></li>
            <li class="list-group-item"><%= link_to "See all regions", regions_path, class: "btn btn-outline-primary btn-sm" %></li>
          </ul>
        </div>

        <!-- Block for city -->
        <div class="card" style="width: 30rem;">
          <div class="card-header">
            City
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= @campsite.city.nil? ? "out of city" : @campsite.city.name %></li>
            <li class="list-group-item"><%= link_to "See all cities", cities_path, class: "btn btn-outline-primary btn-sm" %></li>
          </ul>
        </div>

      </ul>

    </div>
  </div>


  </div>
</div>