<h2>New city add</h2>

<%= form_for :city, url: cities_path, remote: true do |f| %>
  <% if @city.errors.any? %>
    <% @city.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"> <%=msg %></div>
    <%end %>
  <%end %>
  <p>
    Name <br>
    <%= f.text_field(:name, {:class => 'form-control'}) %>
  </p>

  <div>
    <label>Region</label>
    <%= f.collection_select :region_id, Region.all, :id, :name,{},{class: "form-select"} %>
  </div>
  <br/>
  <p>
    <%= f.submit({:class => 'btn btn-success'}) %>
  </p>
<% end %>