<h2><strong><%= @city.name %></strong></h2>
<p>region: <%= @city.region.name %></p>
<hr>

<h4>Camp sites in this city</h4>

<% @city.campsites.each do |campsite| %>
  <div class="card text-dark bg-light mb-3" >
    <div class="card-body">
    <h5><%=campsite.name %></h5>
    <%= link_to "More info", camp_site_path(campsite),:class => 'btn btn-outline-primary' %>
    </div>
  </div>
<% end %>
<br>


<h5>Add new campsite</h5>
<%= form_for( [@city, @camp_site],url: city_camp_sites_path(@city), remote: true) do |f| %>
  <p>
    New campsite <br>
    <%= f.text_field(:name, {:class => 'form-control'}) %>
  </p>

  <p>
    Description <br>
    <%= f.text_area(:description, {:class => 'form-control'}) %>
  </p>

  <p>
    <%= f.submit("Add",{:class => 'btn btn-warning'}) %>
  </p>
<% end %>