<h1>All regions</h1>

<% @regions.each do |region| %>
  <div class="card">
    <div class="card-body">
      <h5><%=region.name %></h5>
      <p>country: <%=region.country.name %></p>
      <%= link_to "Edit", edit_region_path(region), :class => 'btn btn-warning btn-sm'%>
      <%= link_to "Delete", region_path(region), method: :delete,remote: true, data:{confirm: "Are you sure?"},:class => 'btn btn-danger btn-sm'%>
      <%= link_to "More info", region_path(region), :class => 'btn btn-primary btn-sm'%>
    </div>
  </div>
<% end %>
<hr>
<div class="alert alert-light"><%= link_to "Add new region", new_region_path,:class => 'btn btn-outline-primary' %>

</div>